/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color: black;
    text-decoration: none;
  }
/* End of reset CSS */
@font-face {
	font-family: "Raleway";
    font-weight: normal;
	src: url('Raleway_Regular.ttf');
}
@font-face {
	font-family: "Raleway";
	font-weight: bold;
	src: url('Raleway-Bold.ttf');
}
* {
    font-size: 16px;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    font-family: "Raleway", sans-serif;
}
header {
    margin: 0 30px 0 30px;
}
main {
    margin: 0 30px 0 30px;
}
/*Barre de navigation */
.top-title {
display: grid;
grid-template-columns: 1fr 7fr 2fr 5px 2fr 5px 1fr;
grid-template-rows: 100px;
grid-template-areas: "logo . hebergement . activity . login";
}

.logo {
grid-area: logo;
display: flex;
align-items: center;
}

.logo img {
width: 100%;
}

.hebergement {
grid-area: hebergement;
display: flex;
align-items: center;
justify-content: center;
border-top: 2px solid #F2F2F2;
}

.activity {
grid-area: activity;
display: flex;
align-items: center;
justify-content: center;
border-top: 2px solid #F2F2F2;
}

.hebergement:hover,
.activity:hover {
border-top: 2px solid #0065FC;
color: #8C8C8D;
font-weight: 600;
}

.activity a,
.hebergement a {
color: inherit;
}

.login {
grid-area: login;
display: flex;
align-items: center;
margin-right: 5px;
}

.login a {
font-weight: 700;
color: #0065FC;
}
/*Titre principal */

header h1 {
    font-size: 1.3em;
    margin-bottom: 15px;
    font-weight: bold;
}
header p {
    font-size: 0.8em;
    margin-bottom: 15px;
}
/*Barre de recherche */
form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: solid 1px #F2F2F2;
    border-radius: 10px;
    height: 48px;
    max-width: 292px;
    border-left: hidden;
    border-right: hidden;
}
form label .fas {
    display: flex;
    height: 48px;
    justify-content: center;
    background-color: #F2F2F2;
    flex: 1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px;
    cursor: crosshair;
    width: 100%;

}
form input.search {
    display: flex;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    padding: 13px 8px 13px 13px;
    background-color: white;
}
form button {
    justify-content: center;
    font-size: 0.9em;
    background-color: #0065FC;
    padding: 12.35px;
    color: white;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    height: 48px;
}
button {
    border: none;
    background-color: white;
}
button:hover {
    cursor: pointer;
}
button .fas {
    display: none;
}
/*Filtres de recherche */
#filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
#filtres h2 {
    margin-right: 15px;
}
#filtres .line2 {
    display: flex;
    flex-direction: row;
}
#filtres .line1 {
    display: flex;
    flex-direction: row;
}
#filtres button:hover {
    background-color: #F2F2F2;
}
#filtres button {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 1em;
    margin: 0 15px 0 15px;
    border: 2px solid #F2F2F2;
    padding-right: 40px;
    border-radius: 25px;
    font-weight: bold;  
    height: 40px;  
    border-left: hidden;

}
#filtres .fas {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF; 
    color: #0065FC;
    border-radius: 50%;
}
#nblog p {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
#nblog p .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1px;
    max-height: 1px;
    color: #0065FC;
    background-color: white;
    border: solid 1px #8C8C8D;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;    
}
/* GRID-CENTER*/
#boxcenter {
    display: grid;
    grid-template-rows: auto;
    gap: 45px;
    grid-template-areas:
        "hebergement populaire";
}
#hebergement{grid-area: hebergement;}
#populaire{grid-area: populaire;}

/* GRID-Hébergements*/
#hebergement {
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "title title title"
        "result1 result2 result3"
        "result4 result5 result6"
        "displayMore displayMore displayMore";
    background-color: #F2F2F2;
}
#hebergement h1 {grid-area: title;}

/* GRID-Populaire*/
#populaire {
    display: grid;
    gap:28px;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "title"
        "proposition1"
        "proposition2"
        "proposition3";
    background-color: #F2F2F2;
}
#populaire h1 {grid-area: title;}

/*-- Hébergements */
#boxcenter {
    margin-bottom: 40px;
}
#boxcenter h1 {
    font-weight:bold;
    color: black;
}
#boxcenter h2 {
    font-weight:bold;
    color: black;
}
#boxcenter h3 span {
    font-weight: bold;
}
#boxcenter span {
    font-size: small;
    font-weight:bold;
    color: black;
}
#boxcenter #afficherPlus {
    font-size: 14px;
    font-weight: bold;
}
#boxcenter #afficherPlus:hover {
    color: #8C8C8D;
    font-weight: 600;
}
#hebergement {
    padding: 40px;
    border-radius: 20px;
}
#hebergement .detailscontains {
    display: flex;
    flex-direction: column;
    height: 33%;
    margin-top:8px;
    margin-left:8px;
    justify-content: space-between;
}
.element-search {
    width: 100%;
    max-height: 200px;
    min-width:190px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #c2c2c2;
    background-color: white;
    padding: 5px 5px 0px 5px;
}
.element-search .imgcontains {
    border-radius: 15px 15px 0 0;
    width:100%;
    height: 60%;
}
.element-search img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width:100%;
    height: 100%;
}
.element-search h2 {
    font-size: 14px;
}
.element-search h3 {
    font-size: 13px;
}
.element-search i {
    font-size: 12px;
    letter-spacing: -3px;
}
.starcontains i {
    color: blue;
}
.starcontains span i {
    color: #DEEBFF;
}
/*Populaire*/
#populaire {
    padding: 40px 40px 40px 40px;
    border-radius: 20px 20px 20px 20px;
}
#populaire #title-populaire {
    display: flex;
}
#populaire #title-populaire h1 {
    margin-right: auto;
}
#populaire #title-populaire i {
    font-size: 23px;
}
#populaire .flex-element {
    display: flex;
}
#populaire .detailscontains {
    margin-top:8px;
    margin-left:13px;
}
main .element-populaire {
    width:100%;
    height:100%;
    max-width: 343px;
    min-width:290px;
    min-height: 143px;
    max-height: 148px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #c2c2c2;
    background-color: white;
    padding: 5px 5px 0 5px;
}
main .element-populaire .imgcontains {
    border-radius: 15px 15px 0 0;
    width:42%;
    height: 143px;
}
main .element-populaire img {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 125px;
    max-height: 138px;
}
#populaire .detailscontains {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding-right: 25px;
}
#populaire h2 {
    font-size: 14px;
}
#populaire h3 {
    padding-top: 12px;
    font-size: 13px;
    font-weight: normal;
}
#populaire .starcontains {
    padding-bottom: 10px;
}
#populaire .starcontains i {
    font-size: 12px;
}
/* activité */
#box-bottom {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title"
                         "column1 column2 column3 column4";
}
#box-bottom h1 {grid-area: title;}
#box-bottom h1 {
    font-weight: bold;
    padding-top: 10px;
}
.boxactivity {
    display: flex;
    width: 100%;
    max-height: 450px;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}
.boxactivity .img-activity {
    width: 100%;
    height: 100%;

}
.boxactivity .img-activity img {
    object-fit: cover;
    border-radius: 15px;
    width:100%;
    height: 100%;
}

.activitydescription {
    padding-left:13px;
    font-weight: bold;
    height: 45px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#column2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
}
#doublebox-1 {
    width: 100%;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    margin-bottom: 40px;
    position: relative;
}
#doublebox-2 {
    width: 100%;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    position: relative;
}
#doublebox-1 .img-activity {
    max-height: 240px;
    width: 100%;
}
#doublebox-1 .img-activity img {
    max-height: 240px;
}
#doublebox-2 .img-activity {
    max-height: 170px;
    width: 100%;
}
#doublebox-2 .img-activity img {
    max-height: 170px;
}
#column4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
}
#column4 .double-equal {
    width: 100%;
    height: 205px;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    position: relative;
}
.double-equal:first-child {
    margin-bottom: 40px;
}
#column4 .double-equal .img-activity {
    max-height: 205px;
    width: 100%;
}

/*footer */
footer {
    background-color: #F2F2F2;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'title title title'
                         'link1 link2 link3';
}
footer h1 {grid-area: title;}

footer h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 20px 30px;
}
footer p {
    font-size: 10px;
    margin: 10px 0 10px 30px
}

@media only screen and (max-width : 1180px) and (min-width : 990px) {
    #hebergement {
        grid-template-columns: 1fr 1fr;
        grid-template-areas : 'title title'
                             'result1 result2'
                             'result3 result4'
                             'result5 result6'
                             'displayMore displayMore'
    }    
    #filtres  {
        display: block;
    }
    #filtres button {
        margin-top: 15px;
        margin-left: 0;
    }
}
@media only screen and (max-width : 990px) {
    body {
        max-height: unset;
        max-width: unset;
    }
    .hebergement, .activity {
        font-size: 2.2em;
    }
    .top-title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "logo login"
          "hebergement activity";
        margin-left: 30px;
        margin-right: 30px;
    }
    .logo img {
        width: 40%;
    }
    .hebergement, .activity {
        border-bottom: 2px solid #f2f2f2;
        border-top: none;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    
    .hebergement:hover,
    .activity:hover {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }
    
    .login,
    .login a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5em;
        font-weight: 700;
        color: #0065fc;
    }
    header h1 {
        font-size: 3.5em;
        margin-left: 30px;
        margin-right: 30px;
    }
    header p {
        margin: 40px 30px 40px 30px;
        font-size: 22px;
    }
    /* barre de recherche */
    form {
        font-size: 2em;
        margin-left: 30px;
        height: 94px;
        max-width: 668px;
    }
    form label .fas {
        padding: 30px;
        height: 94px;

    }
    form input.search {
        padding: 21.2px 25px 21.2px 30px;
        font-size: 1.3em;
        padding-left: 20px;
        padding-right: 20px;
        border-left: hidden;
        border-right: hidden;
        position: relative;
    }
    form button {
        height: 94px;
    }
    form button span {
        display: none;
    }
    form button .fas {
        background-color: #0065FC;
        display: flex;
        flex: 1;
        font-size: 30px;
        justify-content: center;
        padding: 18.34px;
        color: white;
        border: none;
    }
    form button {
        border-radius: 10px;
    }
    /*filtre*/
    #filtres {
        display: block;
        margin-left: 30px;
        margin-top: 50px;
    }
    #filtres h2 {
        font-size: 1.6em;
    }
    #filtres .line2 {
        display: block;
    } 
    #filtres button {
        height: 90px;   
        margin-top: 30px;
        border-radius: 45px;
        font-size: 1.6em;
    }
    #filtres button .fas {
        height: 90px;
        width: 90px;
        margin-left: -20px;
        margin-right: 20px;
    }

    #nblog p{
        font-size: 2em;
    }
    #nblog p .fas {
        max-height: unset;
        max-width: unset;
        height: 45px;
        width: 45px;
    }
    /*container*/
    main {
        margin: unset;
    }
    #boxcenter {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        gap: unset;
    }
    #boxcenter span {
        font-size: unset;
    }
    #boxcenter #afficherPlus {
        font-size: 1.8em;
        margin-top: 30px;
    }
    /* populaire*/
    #populaire {
        border-radius: unset;
        padding: 40px 70px 40px 70px;
        gap: unset;
        display: block;
        grid-template-rows: unset;
        grid-template-areas: unset;
    
    }
    main .element-populaire {
        max-width: unset;
        min-height: unset;
        max-height: 280px;
        margin-top: 30px;
    }
    main .element-populaire .imgcontains {
        width:42%;
        height: 280px;
    }
    main .element-populaire img {
        min-width: 42%;
        max-height: 270px;
    }
    #populaire .detailscontains {
        height: unset;
    }
    #populaire h1 {
        font-size: 2.5em;
    }
    #populaire h2 {
        font-size: 2.2em;
        padding: 20px;
    }
    #populaire h3 {
        font-size: 1.9em;
        padding-left: 20px;
    }
    #populaire .starcontains i {
        font-size: 24px;
    }
    #populaire .starcontains {
        padding: 20px;

    }
    /* hebergement*/
    #hebergement {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        padding: 40px 70px 40px 70px;
        gap: unset;
    }
    #hebergement h1 {
        font-size: 2.5em;
    }
    .element-search {
        max-height: 400px;
        margin-top: 30px;
    }
    .element-search .imgcontains {
        height: 63%;
    }
    #hebergement .detailscontains {
        height: 33%;
    }
    .detailscontains h2 {
        font-size: 1.8em;
    }
    .detailscontains h3 {
        font-size: 1.7em;
    }
    .element-search i {
        font-size: 24px;
    }
    #boxcenter a {
        font-size: unset;
    }
    /* activité */
    #box-bottom {
        display: flex;
        flex-direction: column;
        padding-left: 70px;
        padding-right: 70px;
        gap: unset;
    }
    #box-bottom h1 {
        font-size: 2.5em;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .boxactivity {
        max-height: unset;
        margin-bottom: 30px;
    }
    .boxactivity .img-activity {
       height: unset;
    }
    .boxactivity .img-activity img {
        height: unset;
    }
    .activitydescription {
        height: 100px;
        width: 100%;
        padding-left:13px;
        font-size: 2em;
        background-color: white;
    }
    #column1, #column3 {
        max-height: 400px;
    }
    #column1 .img-activity,
    #column3 .img-activity {
        height: 100%;
    }
    #column1 .img-activity img,
    #column3 .img-activity img {
        height: 100%;
        max-height: 400px;
    }
    #column2 {
        display: flex;
        flex-direction: column;
        max-height: 820px;
    }
    #doublebox-1 {
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
    }
    #doublebox-1 .img-activity {
        height: unset;
        max-height: 400px;
    }
    #doublebox-1 .img-activity img {
        height: unset;
        max-height: 400px;
    }

    #doublebox-2 {
        width: 100%;
        height: 400px;
    }
    #doublebox-2 .img-activity {
        height: unset;
        max-height: 400px;
    }
    #doublebox-2 .img-activity img {
        height: unset;
        max-height: 400px;
    }
    #column4 {
        display: block;
        max-height: 820px;
    }
    #column4 .double-equal {
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
    }
    #column4 .double-equal .img-activity {
        max-height: 400px;
        width: 100%;
        overflow: hidden;
    }
    #column4 .double-equal .img-activity img {
        height: 400px;
    }
    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }
    footer h1 {
        font-size: 23px;
    }
    footer p {
        font-size: 21px;
        margin-bottom: 20px;
    }
}
