/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color: black;
    text-decoration: none;
  }
/* End of reset CSS */
@font-face {
	font-family: "Raleway";
    font-weight: normal;
	src: url('Raleway-Regular.ttf');
}
@font-face {
	font-family: "Raleway";
	font-weight: bold;
	src: url('Raleway-Bold.ttf');
}
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}
header {
    margin: 0 30px 0 30px;
}
main {
    margin: 0 30px 0 30px;
}
/*Barre de navigation */
.top-title {
display: grid;
grid-template-columns: 1fr 7fr 1fr 50px 1fr 50px 1fr;
grid-template-rows: 100px;
grid-template-areas: "logo . hebergement . activity . login";
}

.logo {
grid-area: logo;
display: flex;
align-items: center;
}

.logo img {
width: 100%;
}

.nav-hebergement {
grid-area: hebergement;
display: flex;
align-items: center;
justify-content: center;
border-top: 2px solid #F2F2F2;
}

.nav-activity {
grid-area: activity;
display: flex;
align-items: center;
justify-content: center;
border-top: 2px solid #F2F2F2;
}

.nav-hebergement:hover,
.nav-activity:hover {
border-top: 2px solid #0065FC;
color: #0065FC;
font-weight: bold;
}

.nav-activity a,
.nav-hebergement a {
color: inherit;
}

.login {
grid-area: login;
display: flex;
align-items: center;
margin-right: 5px;
}

.login a {
font-weight: 700;
color: #0065FC;
}
/*Titre principal */

#titre-principal {
    font-size: 15px;
}
#titre-principal h1 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}
#titre-principal p {
    margin-bottom: 15px;
}
/*Barre de recherche */
form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: solid 1px #F2F2F2;
    border-radius: 10px;
    height: 48px;
    max-width: 292px;
    border-left: hidden;
    border-right: hidden;
}
form label .fas {
    display: flex;
    height: 48px;
    justify-content: center;
    background-color: #F2F2F2;
    flex: 1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px;
    cursor: crosshair;
    width: 100%;

}
form input.search {
    display: flex;
    font-size: 0.8em;
    font-weight: bold;
    border: none;
    padding: 13px 8px 13px 13px;
    background-color: white;
}
form button {
    justify-content: center;
    font-size: 0.9em;
    background-color: #0065FC;
    padding: 12.35px;
    color: white;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    height: 48px;
}
form button span {
    font-weight: bold;
}
form button:hover {
    color: black;
}

button {
    border: none;
    background-color: white;
}
button:hover {
    cursor: pointer;
}
button .fas {
    display: none;
}
/*Filtres de recherche */
#filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
#filtres h2 {
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;


}
#filtres .line2 {
    display: flex;
    flex-direction: row;
}
#filtres .line1 {
    display: flex;
    flex-direction: row;
}
#filtres button:hover {
    background-color: #0065FC;
    color: white;
}
#filtres button {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 15px;
    margin: 0 15px 0 15px;
    border: 2px solid #F2F2F2;
    padding-right: 20px;
    border-radius: 25px;
    font-weight: 600;  
    height: 40px;  
    border-left: hidden;

}
#filtres .fas {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF; 
    color: #0065FC;
    border-radius: 50%;
}
#nblog p {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 13px;
}
#nblog p .fas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #0065FC;
    background-color: white;
    border: solid 1px #8C8C8D;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;  
    font-size: 10px;
}
/* GRID-CENTER*/
#boxcenter {
    display: grid;
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas:
        "hebergement populaire";
}
#hebergement{grid-area: hebergement;}
#populaire{grid-area: populaire;}

/* GRID-Hébergements*/
#hebergement {
    display: grid;
    gap: 28px;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "title title title"
        "result1 result2 result3"
        "result4 result5 result6"
        "displayMore displayMore displayMore";
    background-color: #F2F2F2;
}
#hebergement h1 {
    grid-area: title;
}

/* GRID-Populaire*/
#populaire {
    display: grid;
    gap:28px;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "title"
        "proposition1"
        "proposition2"
        "proposition3";
    background-color: #F2F2F2;
}
#populaire h1 {
    grid-area: title;
}

/*-- Hébergements */
#boxcenter {
    margin-bottom: 60px;
}
#boxcenter h1 {
    font-weight:bold;
    color: black;
    font-size: larger;
    margin-bottom: 0;
}
#boxcenter h2 {
    font-weight:bold;
    color: black;
    font-size: 16px;
}
#boxcenter h3 {
    font-size: 14px;
    font-weight: 400;
}
#boxcenter h3 span {
    font-weight: bold;
}
#boxcenter span {
    font-size: small;
    font-weight:bold;
    color: black;
}
#boxcenter #afficherPlus {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;

}
#boxcenter #afficherPlus:hover {
    color: #8C8C8D;
    font-weight: 600;
}
#hebergement {
    padding: 40px 30px 30px 30px;
    border-radius: 20px;
}
#hebergement .detailscontains {
    display: flex;
    flex-direction: column;
    height: 36%;
    margin: 8px 0 0 13px;
    justify-content: space-between;
}
.element-search {
    width: 100%;
    max-height: 200px;
    min-width:190px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #c2c2c2;
    background-color: white;
    padding: 5px 5px 0px 5px;
}
.element-search .imgcontains {
    border-radius: 15px 15px 0 0;
    width:100%;
    height: 60%;
}
.element-search img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width:100%;
    height: 100%;
}
.starcontains i {
    color: blue;
    font-size: 12px;
    letter-spacing: -3px;
    padding-bottom: 10px;
}
.starcontains span i {
    color: #DEEBFF;
}
/*Populaire*/
#populaire {
    padding: 40px 30px 30px 30px;
    border-radius: 20px;
}
#populaire #title-populaire {
    display: flex;
}
#populaire #title-populaire h1 {
    margin-right: auto;
}
#populaire #title-populaire i {
    font-size: 23px;
}
#populaire .flex-element {
    display: flex;
}
#populaire .detailscontains {
    margin-top:8px;
    margin-left:13px;
}
main .element-populaire {
    width:100%;
    height:100%;
    max-width: 343px;
    min-width:290px;
    min-height: 143px;
    max-height: 148px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #c2c2c2;
    background-color: white;
    padding: 5px 5px 0 5px;
}
main .element-populaire .imgcontains {
    border-radius: 15px 15px 0 0;
    width:42%;
    height: 143px;
}
main .element-populaire img {
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 125px;
    max-height: 138px;
}
#populaire .detailscontains {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
}
#populaire h3 {
    padding-top: 12px;
}

/* activité */
#box-bottom {
    display: grid;
    gap: 40px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "title title title title"
                         "column1 column2 column3 column4";
}
#box-bottom h1 {grid-area: title;}
#box-bottom h1 {
    font-weight: bold;
    font-size: larger;
    margin-bottom: -10px;
}
.boxactivity {
    display: flex;
    width: 100%;
    max-height: 450px;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}
.boxactivity .img-activity {
    width: 100%;
    height: 100%;

}
.boxactivity .img-activity img {
    object-fit: cover;
    border-radius: 15px;
    width:100%;
    height: 100%;
}

.activitydescription {
    padding-left:13px;
    height: 45px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.activitydescription p {
    font-weight: bold;
}
#column2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
}
#doublebox-1 {
    width: 100%;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    margin-bottom: 40px;
    position: relative;
}
#doublebox-2 {
    width: 100%;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    position: relative;
}
#doublebox-1 .img-activity {
    max-height: 240px;
    width: 100%;
}
#doublebox-1 .img-activity img {
    max-height: 240px;
}
#doublebox-2 .img-activity {
    max-height: 170px;
    width: 100%;
}
#doublebox-2 .img-activity img {
    max-height: 170px;
}
#column4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
}
#column4 .double-equal {
    width: 100%;
    height: 205px;
    box-shadow: 1px 2px 5px #c2c2c2;
    border-radius: 15px;
    position: relative;
}
.double-equal:first-child {
    margin-bottom: 40px;
}
#column4 .double-equal .img-activity {
    max-height: 205px;
    width: 100%;
}

/*footer */
footer {
    background-color: #F2F2F2;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'title title title'
                         'link1 link2 link3';
}
footer h1 {grid-area: title;}

footer h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 20px 30px;
}
footer p {
    font-size: 14px;
    margin: 10px 0 10px 30px;
}
a:hover {
    color: #0065FC;
    font-weight: bold;
}
/*First break-point*/
@media screen and (max-width: 1100px) {
    /*header*/
    .top-title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "logo login"
          "hebergement activity";
    }
    .logo img {
        width: 60%;
        padding-left: 30px;

    }
    .nav-hebergement, .nav-activity {
        border-bottom: 2px solid #f2f2f2;
        border-top: none;
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 1.5rem;
    }
    .nav-hebergement a,
    .nav-activity a {
        font-weight: normal;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 60px;

    }
    .nav-hebergement:hover,
    .nav-activity:hover {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }
    
    .login,
    .login a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: #0065fc;
        margin-right: 30px;
    }
    /*edit-title*/
    #titre-principal {
        font-size: 1.5rem;
        margin-bottom: 2rem;

    }
    #titre-principal h1 {
        font-size: 2rem;
    }
    /*edit search bar*/
    form {
        height: 50px;
        max-width: 400px;
    }
    form label .fas {
        height: 50px;
        padding: 15px;
    }
    form input.search {
        font-size: 1rem;
    }
    form button {
        font-size: 0.9em;
        padding: 12.35px;
        height: 48px;
    }
    /*edit grid hebergement*/
    #hebergement {
        grid-template-columns: 1fr 1fr;
        grid-template-areas : 'title title'
                             'result1 result2'
                             'result3 result4'
                             'result5 result6'
                             'displayMore displayMore'
    }    
    /*edit grid activity*/
    #box-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'title title'
                             'column1 column3'
                             'boxactivity-1 boxactivity-2'
                             'equal-1 equal-2';
    }
}
/*second break-point tablette*/
@media screen and (max-width: 924px){
    /*edit filtres*/
    #filtres  {
        display: block;
    }
    #filtres button {
        margin-top: 15px;
        margin-left: 0;
    } 
    /*inversement hebergement et populaire*/
    #boxcenter {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        gap: unset;
    }
    main .element-populaire {
        max-width: 100%;
    }
    /*carre populaire*/
    #populaire {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    #title-populaire {
        width: 100%;
    }

}
/*third breack-point*/
@media screen and (max-width: 600px){
    /*edit header*/
    header {
        margin: 0;
    }
    .logo img {
        padding-left: 20px;
    }
    .login {
        margin-right: unset;
    }
    .login a {
        margin-right: 20px;
        font-size: 1rem;
    }
    .nav-hebergement, .nav-activity {
        font-size: 1rem;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .nav-hebergement a,
    .nav-activity a {
        font-weight: normal;
        padding-left: unset;
        padding-right: unset;
    }
    /*edit title*/
    #titre-principal {
        margin: 0 20px;
        font-size: 1rem;
    }
    #titre-principal h1 {
        font-size: 1.5rem;
    }
    /*edit search bar pour la longueur*/
    form {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 85%;
        border: solid 2px #F2F2F2;
    }
    form input.search {
        border-left: hidden;
        border-right: hidden;
        position: relative;
        width: 100%;
    }
    form button {
        border-radius: 10px;
        margin-right: -20px;
        width: 48px;

    }
    /*new button*/
    form button span {
        display: none;
    }
    form button .fas {
        background-color: #0065FC;
        display: flex;
        flex: 1;
        justify-content: center;
        color: white;
        border: none;
        border-radius: 30px;
    }
    /*filtre en block*/
    #filtres {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
    #filtres h2 {
        font-size: 1.2rem;
    }
    #filtres .line2 {
        display: block;
    } 
    /*agrandissement nombre de logement*/
    #nblog {
        margin: 0 20px;
    }
    #nblog p .fas {
        margin-top: -16px;
    }
    /*reset margin*/
    main {
        margin: 0;
    }
    #populaire {
        border-radius: unset;
        gap: 10px;
        padding: 40px 20px;
    }
    #populaire .detailscontains {
        margin-left: 25px;
        margin-bottom: 5px;
    }
    #title-populaire {
        width: 100%;
        margin-bottom: 20px;
    }
    /*hebergement en flex column bg white*/
    #hebergement {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        gap: unset;
        padding: 25px 20px;
    }
    /*reglage hauteur element*/
    .element-search {
        margin-top: 20px;
        border-radius: 20px;
        max-height: 190px;
    }
    .element-search .imgcontains {
        border-radius: 20px 20px 0 0;
        height: 60%;
    }
    .element-search img {
        border-radius: 20px 20px 0 0;
    }
    #hebergement .detailscontains {
        margin-left: 11px;
        height: 36%;
    }
    #afficherPlus {
        padding-top: 25px;
        padding-bottom: 0;
    }
    /*passage en flex activity column*/
    #box-bottom {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: unset;
        margin-bottom: 20px;
    }
    #box-bottom h1 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    /*reglage taille element*/
    .boxactivity {
        max-height: 200px;
        border-radius: 20px;
    }
    .boxactivity .img-activity img {
        height: 100%;
        border-radius: 20px;
        object-position: 0 27%;
    }
    .activitydescription {
        height: 25%;
        width: 100%;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #column1, #column3 {
        max-height: 200px;
        width: 100%;
    }
    #column1 a,
    #column3 a {
        width: 100%;
    }
    #column1 .img-activity,
    #column3 .img-activity {
        height: 100%;

    }
    #column1 .img-activity img,
    #column3 .img-activity img {
        height: 100%;
        max-height: 200px;

    }
    #column2 {
        display: flex;
        flex-direction: column;
        max-height: 440px;
    }
    #doublebox-1 {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    #doublebox-1 .img-activity img {
        height: unset;
        max-height: 200px;
        object-position: 0 48%;
    }

    #doublebox-2 {
        width: 100%;
        height: 200px;
        border-radius: 20px;
    }
    #doublebox-2 .img-activity img {
        height: 100%;
        object-position: 0 3%;
    }
    #column4 {
        display: block;
        max-height: 440px;
    }
    #column4 .double-equal {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    #column4 .double-equal .img-activity {
        width: 100%;
        overflow: hidden;
    }
    #column4 .double-equal .img-activity img {
        height: 100%;
    }
    /*footer*/
    footer {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    footer h1 {
        font-size: 1.1rem;
        margin-left: 0;
        margin-top: 20px;
    }
    footer p {
        font-size: 1rem;
        margin-bottom: 20px;
        margin-left: 0;
    }
}
@media screen and (max-width: 400px) {
    /*réglage taille image populaire*/
    main .element-populaire img {
        min-width: unset;
        width: 145px;
    }   
}

